extends base

block content
  img(src=`/${loggedInUser.avatarUrl}`, width="100", height="100")
  form(method="POST", enctype="multipart/form-data")
    label(for="avatar") Avatar 
    input(type="file", id="avatar", name="avatar", accept="image/*")
    input(placeholder="Username", name="username", type="text",value=loggedInUser.username, required)
    input(placeholder="Email", name="email", type="email", value=loggedInUser.email, required)
    input(placeholder="Location", name="location", value=loggedInUser.location, type="text")
    input(type="submit", value="Update Profile")
    if !loggedInUser.socialOnly
      hr
      a(href="change-password") Change Password &rarr;