extends base

block content
  form(method="POST")
    input(placeholder="Username", name="username", type="text",value=loggedInUser.username, required)
    input(placeholder="Email", name="email", type="email", value=loggedInUser.email, required)
    input(placeholder="Location", name="location", value=loggedInUser.location, type="text")
    input(type="submit", value="Update Profile")