extends base

block content
  form(method="POST", enctype="multipart/form-data").edit-profile_form
    label(for="avatar") Avatar
    input(type="file", id="avatar", name="avatar", accept="image/*")
    input(placeholder="Username", name="username", type="text",value=loggedInUser.username, required)
    input(placeholder="Email", name="email", type="email", value=loggedInUser.email, required)
    input(placeholder="Location", name="location", value=loggedInUser.location, type="text")
    input(type="submit", value="Update Profile")
    if !loggedInUser.socialOnly
      div.edit-profile__password
        a(href="change-password") Change Password &rarr;