extends base.pug
include mixins/video

block upload 
  nav
    ul 
      li 
        a(href="/videos/upload") Upload Video

block content
  h2 Welcome here you will see the trending videos
  each video in videos
    +video(video)
  else
    h4 Sorry nothing found.