header
  a(href="/").header__logo
    img(src="/img/icon.png")
  nav
    ul
      li
        a(href="/search")
          i.fas.fa-search
      if loggedIn
        li
          a(href="/videos/upload") Upload Video
        li
          a(href="/users/edit") Edit Profile
        li
          a(href="/users/logout") Logout
        li
          a(href=`/users/${loggedInUser._id}`)
            if loggedInUser.socialOnly
              img.header__avatar(crossorigin="anonymous", src=loggedInUser.avatarUrl)
            else
              img.header__avatar(src="/" + loggedInUser.avatarUrl)
      else
        li
          a(href="/join").header__btn Join
        li
          a(href="/login") Login